<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendar Cita - CLIMAS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/pages/schedule.css">
</head>
<body>
    <div id="navbar"></div>
    <div id="schedule-page"></div>
    <div id="footer"></div>
  <script src="../js/main.js" type="module"></script>
</body>
</html>
